.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  font-family: ed"Bebas Neue";
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form > label {
  margin-bottom: 10px;
}

form > input {
  margin-bottom: 10px;
}

.button1 {
  background-color: white;
}

.recipe-data {
  padding: 20px;
}

.recipe-data-images {
  max-height: 300px;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.recipe-data-title,
.recipe-data-description,
.recipe-data-chef,
.recipe-data-ingredients-head,
.recipe-data-ingredients,
.recipe-data-instructions-head,
.recipe-data-instructions {
  background-color: white;
  padding: 10px;
  margin: 10px;
}