form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form > label {
  margin-bottom: 10px;
}

form > input {
  margin-bottom: 10px;
}

.rawRecipe--image {
  max-height: 300px;
  max-width: 300px;
}