body {
  margin: 0;
  background-image: url("./src/assets/lukas-blazek-EWDvHNNfUmQ-unsplash.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
